
.card{
    width: 200px;
    height: 100px;
    border: 2px solid black;
}

.card-header{
    background-color: salmon;
    color: white;
}

section{
    padding: 120px;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.all-cards{
    display: flex;
    gap: 20px;

}


